* {
  margin: 0px;
}

.grid {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: coral;
  padding: 10px;;
}

.grid > *:nth-child(even) {
  box-sizing: border-box;
  font-family: monospace;
  font-size: 0px;
  width: 1vw;
  height: 1vw;
  background-color: white;
  transition: 100ms all ease-in-out;
  border-radius: 20px;
  margin: 0px 10px;
}

.year-2017 > *:nth-child(odd):not(:nth-child(7)) {
  box-sizing: border-box;
  width: 10vw;
  height: 10vw;
  background-color: darkgray;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
}

.year-name {
  color: white;
  background-color: coral;
  text-align: center;
  align-content: center;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 13em;
  text-wrap: wrap;
  width: 20vw;
  height: 10vw;
  transition: 100ms all ease-in-out;
  border-radius: 20px;
}

/* Expand the even child when its preceding odd child is hovered. 

+ is called the Adjacent Sibling Selector. it targets the element immediately following the specified element

~ is called the General Sibling Combinator, it targets all siblings that come after the specified element, not just the immediately next one.
*/

.year-2017 > *:nth-child(odd):hover + *:nth-child(even):not(:nth-child(8)) {
  text-wrap: wrap;
  padding: 10px;
  width: 20vw;
  height: 10vw;
  font-size: 12px;
  transition: 100ms all ease-in-out;
}

