* {
  margin: 0px;
}

.grid {
  display: flex;
  width: 100vw;
}

.grid > *:nth-child(even) {
  box-sizing: border-box;
  font-family: monospace;
  font-size: 0px;
  text-wrap: wrap;
  width: 0px;
  height: 10vw;
  border: 1px solid black;
  transition: 100ms all ease-in-out;
}

.year-2016 > *:nth-child(odd):not(:nth-child(7)) {
  box-sizing: border-box;
  width: 10vw;
  height: 10vw;
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.year-name {
  text-align: center;
  align-content: center;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 100px;
  text-wrap: wrap;
  width: 20vw;
  height: 10vw;
  border: 1px solid black;
  transition: 100ms all ease-in-out;
}

/* Expand the even child when its preceding odd child is hovered. 

+ is called the Adjacent Sibling Selector. it targets the element immediately following the specified element

~ is called the General Sibling Combinator, it targets all siblings that come after the specified element, not just the immediately next one.
*/

.year-2016 > *:nth-child(odd):hover + *:nth-child(even):not(:nth-child(8)) {
  width: 20vw;
  font-size: 12px;
  transition: 100ms all ease-in-out;
}

